<!-- Main page. Used for: Landing Page, Profile Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Login/Signup for Ask me Anything App"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/javascripts/mainScripts.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Ask me Anything</title>
</head>
<body>
<div>
    <div role="navigation" class="navbar justify-content-around navbar-light bg-light shadow-sm">
        <a href="/"><img src="/logo192.png" width="75" height="75"></a>
        <h1 class="col-10 text-center">Ask me Anything!</h1>
        <div class="d-grid gap-1 col-1 me-3">
            <%if (isLogged) {%>
                <a class="btn btn-primary">My Profile</a>
                <button onclick="logout()" class="btn btn-primary">Log Out</button>
            <%} else {%>
                <a href="/login" class="btn btn-primary">Log In</a>
            <%}%>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row mb-5">
            <div class="col mt-4">
                <div class="mb-3 text-center">
                    <h3>Questions per keyword</h3>
                </div>
                <div class="mb-3">
                    <canvas id="keywordBar"></canvas>
                </div>
                <%if (!perWeek.keywords){%>
                    <div class="mb-3">
                        <h2 class="alert alert-danger">An error occurred</h2>
                    </div>
                <%}%>
            </div>

            <div class="col mt-4">
                <div class="mb-3 text-center">
                    <h3>Questions per keyword</h3>
                </div>
                <div class="mb-3">
                    <canvas id="weekBar"></canvas>
                </div>
                <%if (!perWeek.days){%>
                    <div class="mb-3">
                        <h2 class="alert alert-danger">An error occurred</h2>
                    </div>
                <%}%>
            </div>
        </div>
        <div class="row mb-5">
            <div class="text-center col mt-4">
                <h3>Search a Question</h3>
                <div class="mb-3">
                    <input class="form-control" oninput="handleChange(this.value)" placeholder="Title"/>
                </div>
                <div id="search"></div>
                <h3>If this didn't help</h3>
                <div>
                    <a href="/ask" class="btn btn-primary mt-2">Go and Ask</a>
                </div>
            </div>

            <div class="text-center col mt-4">
                <h3>Answer a Question</h3>

                <%latest_questions.map(question => {%>
                    <%const link = "question"+question['qId']%>
                    <div class="row border justify-content-start">
                        <a class="fs-2" href=<%-link%>><%-question['title']%></a>
                        <text><%-question['text']%></text>
                        <text><%-question['keywords']%></text>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>

<script>
    <%const labels = []%>
    <%const count = []%>
    <%for (var keyword of perWeek.keywords){ %>
    <%      labels.push(keyword.keywordName)%>
    <%      count.push(keyword.count)%>
    <%}%>
    const ctx = document.getElementById('keywordBar').getContext('2d');
    const keywordChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%-JSON.stringify(labels)%>,
            datasets: [{
                label: '# of Votes',
                data: <%-JSON.stringify(count)%>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
<script>
    <%const labels2 = []%>
    <%const count2 = []%>
    <%for (var day of perWeek.days){ %>
    <%      labels2.push(day.day)%>
    <%      count2.push(day.count)%>
    <%}%>
    const ctx2 = document.getElementById('weekBar').getContext('2d');
    const weekChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: <%-JSON.stringify(labels2)%>,
            datasets: [{
                label: '# of Votes',
                data: <%-JSON.stringify(count2)%>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
</body>
</html>